<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
  <h2 style="border-bottom:1px solid;">Invoice</h2>

  <div class="row" style="border-bottom:1px solid;">
    <div class="column" >
      <h2>Payment Method:</h2>
      <p><%= crdn %></p>
      <p><%= user %></p>
      <p><%= exp %></p>
      <p><%= email %></p>
    </div>
    <div class="column3" >
      <h2>Shipped to:</h2>
      <p><%= adl1 %></p>
      <p><%= adl2 %></p>
      <p><%= ac %></p>

    </div>
  </div>

  <h2 style="border-bottom:1px solid;">Order Summary</h2>

  <div class="row" style="border-bottom:1px solid;">
    <div class="column1" >
      <h2>Item</h2>
      <p style="font-weight:bold;font-size:18px;">A braided brand brings a finishing touch of Insta-worthy style to a chic Panama hat crafted from soft felted wool. (Adjustable fit, 100% wool, Dry clean)</p>
    </div>
    <div class="price" >
      <h2>Price</h2>
      <p>$<%= price %></p>
    </div>
    <div class="qty" >
      <h2>Quantity</h2>
      <p><%= qty %></p>
    </div>
    <div class="total" >
      <h2>Total</h2>
      <p>$<%= total %></p>
    </div>
  </div>
  <div class="row" style="border-bottom:1px solid;">
    <div class="subtotal1" >
      <p>$<%= total %></p>
    </div>
    <div class="subtotal" >
      <h2>Subtotal</h2>
    </div>

  </div>
  <div class="row" style="border-bottom:1px solid;">
    <div class="subtotal1" >
      <p>$<%= ship %></p>
    </div>
    <div class="subtotal" >
      <h2>Shipping</h2>
    </div>

  </div>
  <div class="row" style="border-bottom:1px solid;">
    <div class="subtotal1" >
      <p>$<%= wt %></p>
    </div>
    <div class="subtotal" >
      <h2>Total</h2>
    </div>

  </div>
  </body>
</html>
