<div id="<%=dialogID%>" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Edit Payment</h5>
            </div>

            <form action="/user/profile/editPayment" method="POST">

                <div class="modal-body">
                    Nickname:<br>
                    <input type="text" name="nickName" value="<%=payment.paymentNickname%>"><br>
                    Cardholder Name:<br>
                    <input type="text" name="name" value="<%=payment.paymentName%>"><br>
                    Card Number:<br>
                    <input type="text" name="number" value="<%=payment.paymentCardNumber%>"><br>
                    Expiry:<br>
                    <% let date = payment.paymentExp.toLocaleString().split(',')[0].split('/').reverse().join('-'); %>
                    <input type="date" name="exp" value="<%=date%>"><br>
                    CVV:<br>
                    <input type="text" name="cvc" value="<%=payment.paymentCVC%>"><br>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    <input type="submit" value="Submit" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
</div>