<%- include ../../partials/head %>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Responsive vertical menu navigation</title>
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700, 600,500,400,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="../styles/dashboard.css">

		<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="../public/userDashboard/dashboard.js"></script>
        <script src="../controllers/userAPI.js"></script>

		<style>
			.ad {
				position: absolute;
				width: 300px;
				height: 250px;
				border: 1px solid #ddd;
				left: 50%;
				transform: translateX(-50%);
				top: 250px;
				z-index: 10;
			}
			.ad .close {
				position: absolute;
				font-family: 'ionicons';
				width: 20px;
				height: 20px;
				color: #fff;
				background-color: #999;
				font-size: 20px;
				left: -20px;
				top: -1px;
				display: table-cell;
				vertical-align: middle;
				cursor: pointer;
				text-align: center;
			}
		</style>
		<script type="text/javascript">
			$(function() {
				$('.close').click(function() {
					$('.ad').css('display', 'none');
				})
			})
		</script>

	</head>
	<body>
		<div class="header">
			<div class="logo">
				<i class="fa fa-tachometer"></i>
				<span>Brand</span>
			</div>
			<a href="#" class="nav-trigger"><span></span></a>
		</div>
		<%- include("../../partials/user/dashboardSideNav", {active: "profile"}) %>
		<div class="main-content">
			<div class="title">
				User Profile
			</div>
			<div class="main">
				<div class="widget">
					<div class="title">Profile Information</div>
					<div class="card card-body">
						<div>
							<div class="row my-1">
								<div class="col "><b>Username</b></div>
								<div class="col" id="displayUsername"> <%= userProfile.username %></div>
							</div>
							<div class="row my-1">
								<div class="col "><b>First Name</b></div>
								<div class="col" id="displayFirstName"> <%= userProfile.firstName %></div>
							</div>
							<div class="row my-1">
								<div class="col "><b>Last Name</b></div>
								<div class="col" id="displayLastName"> <%= userProfile.lastName %></div>
							</div>
							<div class="row my-1">
								<div class="col "><b>Date of Birth</b></div>
								<div class="col" id="displayDOB"> <%= userProfile.birthDate %></div>
							</div>
							<div class="row my-1">
								<div class="col "><b>Email</b></div>
								<div class="col" id="displayEmail"> <%= userProfile.email %></div>
							</div>
							<div class="row my-1">
								<div class="col "><b>Phone Number</b></div>
								<div class="col" id="displayPhone"> <%= userProfile.phoneNumber %></div>
							</div>
						</div>
					</div>

					<form action="./profile/editProfile">
						<input type="submit" value="Edit Profile Information" />
					</form>
					<div class="title">Current User Address</div>
                    <table class="userAddressTable">
                        <tr>
                            <th>Line 1</th>
                            <th>Line 2</th>
							<th>City</th>
							<th>State</th>
							<th>Country</th>
							<th>Post Code</th>
                        </tr>
                        <tr id="userInfo">
                            <th id="displayLine1"><%= userProfile.addressLine1 %></th>
                            <th id="displayLine2"><%= userProfile.addressLine2 %></th>
							<th id="displayCity"><%= userProfile.addressCity %></th>
							<th id="displayState"><%= userProfile.addressState %></th>
							<th id="diplayCountry"><%= userProfile.addressCountry %></th>
							<th id="displayPostcode"><%= userProfile.addressPostcode %></th>
						</tr>
					</table>
					<form action="./profile/editAddress">
						<input type="submit" value="Edit Address" />
					</form>
					<form action="./profile/addAddress">
						<input type="submit" value="Add Address" />
					</form>
					<div class="title">Current User Payment Details</div>
                    <table class="userAddressTable">
                        <tr>
                            <th>Nickname</th>
                            <th>Cardholder Name</th>
							<th>Card Number</th>
							<th>Expiry</th>
							<th>CVV</th>
                        </tr>
                        <tr id="userInfo">
                            <th id="displayNickname"><%= userProfile.paymentNickname %></th>
                            <th id="displayName"><%= userProfile.paymentName %></th>
							<th id="displayNumber"><%= userProfile.paymentCardNumber %></th>
							<th id="displayExp"><%= userProfile.paymentExp %></th>
							<th id="displayCVC"><%= userProfile.paymentCVC %></th>
						</tr>
					</table>
					<form action="./profile/editPayment">
						<input type="submit" value="Edit Payment Methods" />
					</form>
					<form action="./profile/addPayment">
						<input type="submit" value="Add Payment Method" />
					</form>
					<div class="chart"></div>
				</div>
			</div>
		</div>

		
	</body>
</html>