<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Responsive vertical menu navigation</title>
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700, 600,500,400,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="../styles/dashboard.css">

		<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="../public/userDashboard/dashboard.js"></script>
        <script src="../controllers/userAPI.js"></script>

		<style>
			.ad {
				position: absolute;
				width: 300px;
				height: 250px;
				border: 1px solid #ddd;
				left: 50%;
				transform: translateX(-50%);
				top: 250px;
				z-index: 10;
			}
			.ad .close {
				position: absolute;
				font-family: 'ionicons';
				width: 20px;
				height: 20px;
				color: #fff;
				background-color: #999;
				font-size: 20px;
				left: -20px;
				top: -1px;
				display: table-cell;
				vertical-align: middle;
				cursor: pointer;
				text-align: center;
			}
		</style>
		<script type="text/javascript">
			$(function() {
				$('.close').click(function() {
					$('.ad').css('display', 'none');
				})
			})
		</script>

	</head>
	<body>
		<div class="header">
			<div class="logo">
				<i class="fa fa-tachometer"></i>
				<span>Brand</span>
			</div>
			<a href="#" class="nav-trigger"><span></span></a>
		</div>
		<div class="side-nav">
			<div class="logo">
				<i class="fa fa-tachometer"></i>
				<span>Brand</span>
			</div>
			<nav>
				<ul>
					<li>
						<a href="/user/profile" >
							<span><i class="fa fa-user"></i></span>
							<span>User Profile</span>
						</a>
					</li>
					<li>
						<a href="/user/profile/createAd">

							<span><i class="fa fa-envelope"></i></span>
							<span>Create An Ad</span>
						</a>
					</li>
					<li class="active">
						<a href="/user/userListings">
							<span><i class="fa fa-bar-chart"></i></span>
							<span>Manage Your Ads</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="main-content">
			<div class="title">
				User Profile
			</div>
			<div class="main">
				<div class="widget">
					<div class="title">Profile Information</div>
						<table class="userProfileTable">
							<tr>
								<th>Username</th>
								<th>Email</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Date of Birth</th>
								<th>Phone Number</th>
							</tr>
							<tr class="userInfo">
								<th style="font-weight: normal;"> <%= userInfo.profile.username %></th>
								<th style="font-weight: normal;"> <%= userInfo.profile.email %></th>
								<th style="font-weight: normal;"> <%= userInfo.profile.firstName %></th>
								<th style="font-weight: normal;"> <%= userInfo.profile.lastName %></th>
								<th style="font-weight: normal;"> <%= userInfo.profile.birthDate %></th>
								<th style="font-weight: normal;"> <%= userInfo.profile.phoneNumber %></th>
								<th action="./profile/editProfile">
									<input type="submit" value="Edit Profile Information" />
								</th>
							</tr>
						</table>
						
						<div class="title">Current User Address</div>
						<table class="userAddressTable">
							<tr>
								<th>Line 1</th>
								<th>Line 2</th>
								<th>City</th>
								<th>State</th>
								<th>Country</th>
								<th>Post Code</th>
							</tr>
							<%for(var i = 0; i < userInfo.address.length; i++) {%>
							<tr class="userInfo">
								<th style="font-weight: normal;"><%= userInfo.address[i].addressLine1 %></th>
								<th style="font-weight: normal;"><%= userInfo.address[i].addressLine2 %></th>
								<th style="font-weight: normal;"><%= userInfo.address[i].addressCity %></th>
								<th style="font-weight: normal;"><%= userInfo.address[i].addressState %></th>
								<th style="font-weight: normal;"><%= userInfo.address[i].addressCountry %></th>
								<th style="font-weight: normal;"><%= userInfo.address[i].addressPostcode %></th>
								<th >
									<form action="./profile/editAddress">
										<input type="submit" value="Edit Address" />
									</form>
								</th>
							</tr>
							<% } %>
						</table>
						
						<form action="./profile/addAddress">
							<input type="submit" value="Add Address" />
						</form>
						<div class="title">Current User Payment Methods</div>
						<table class="userAddressTable">
							<tr>
								<th>Nickname</th>
								<th>Name</th>
								<th>Card Number</th>
								<th>Expiry Date</th>
								<th>CVC</th>
							</tr>
							<%for(var i = 0; i < userInfo.payment.length; i++) {%>
							<tr class="userInfo">
								<th style="font-weight: normal;"><%= userInfo.payment[i].paymentNickname %></th>
								<th style="font-weight: normal;"><%= userInfo.payment[i].paymentName %></th>
								<th style="font-weight: normal;"><%= userInfo.payment[i].paymentCardNumber %></th>
								<th style="font-weight: normal;"><%= userInfo.payment[i].paymentExp %></th>
								<th style="font-weight: normal;"><%= userInfo.payment[i].paymentCVC %></th>
								<th>
									<form action="./profile/editPayment">
										<input type="submit" value="Edit Payment" />
									</form>
								</th>
							</tr>
							<% } %>
						</table>
						<form action="./profile/addPayment">
							<input type="submit" value="Add Payment" />
						</form>
			</div>
		</div>

		
	</body>
</html>