<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>User Dashboard</title>
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700, 600,500,400,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="../styles/dashboard.css">

		<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="../public/userDashboard/dashboard.js"></script>
		<script src="../controllers/userAPI.js"></script>
		
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link href="/styles/js2.css" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<style>
			.ad {
				position: absolute;
				width: 300px;
				height: 250px;
				border: 1px solid #ddd;
				left: 50%;
				transform: translateX(-50%);
				top: 250px;
				z-index: 10;
			}
			.ad .close {
				position: absolute;
				font-family: 'ionicons';
				width: 20px;
				height: 20px;
				color: #fff;
				background-color: #999;
				font-size: 20px;
				left: -20px;
				top: -1px;
				display: table-cell;
				vertical-align: middle;
				cursor: pointer;
				text-align: center;
			}
		</style>
		<script type="text/javascript">
			$(function() {
				$('.close').click(function() {
					$('.ad').css('display', 'none');
				})
			})
		</script>

	</head>

	<body>
		<%- include ../../partials/topBar %>

		<div class="header">
			<div class="logo">
				<i class="fa fa-tachometer"></i>
				<span>Brand</span>
			</div>
			<a href="#" class="nav-trigger"><span></span></a>
		</div>
		<%- include("../../partials/user/dashboardSideNav", {active: "profile"}) %>
		<div class="main-content">
			<div class="title">
				User Profile
			</div>
			<div class="main">
				<div class="widget">

					<div class="title">Profile Information</div>
          			<div class="card card-body">
						<div>
							<div class="row my-1">
								<div class="col"><b>Username</b></div>
								<div class="col"> 
									<div id="displayUsername"><%= userInfo.profile.username %></div>
								</div>
							</div>
							<div class="row my-1">
								<div class="col"><b>First Name</b></div>
								<div class="col"> 
									<div id="displayFirstName"><%= userInfo.profile.firstName %></div>
								</div>
							</div>
							<div class="row my-1">
								<div class="col"><b>Last Name</b></div>
								<div class="col"> 
									<div id="displayLastName"><%= userInfo.profile.lastName %></div>
								</div>
							</div>
							<div class="row my-1">
								<div class="col"><b>Date of Birth</b></div>
								<div class="col"> 
									<% 
										var birthDate = "";
										
										if (userInfo.profile.birthDate) 
										{
											let date = userInfo.profile.birthDate;
											birthDate = date.toLocaleString().split(',')[0];
										}
									%>
									<div id="displayDOB"><%= birthDate %></div>
								</div>
							</div>
							<div class="row my-1">
								<div class="col"><b>Email</b></div>
								<div class="col"> 
									<div id="displayEmail"><%= userInfo.profile.email %></div>
								</div>
							</div>
							<div class="row my-1">
								<div class="col"><b>Phone Number</b></div>
								<div class="col"> 
									<div id="displayPhone"><%= userInfo.profile.phoneNumber %></div>
								</div>
							</div>
						</div>
					</div>

					<input id="editProfileBtn" type="submit" value="Edit Profile Information" />
					
					<div class="title">Current User Address</div>
					<table class="userAddressTable">
						<tr>
							<th>Line 1</th>
							<th>Line 2</th>
							<th>City</th>
							<th>State</th>
							<th>Country</th>
							<th>Post Code</th>
						</tr>
						<%for(var i = 0; i < userInfo.address.length; i++) {%>
						<tr class="userInfo">
							<th style="font-weight: normal;"><%= userInfo.address[i].addressLine1 %></th>
							<th style="font-weight: normal;"><%= userInfo.address[i].addressLine2 %></th>
							<th style="font-weight: normal;"><%= userInfo.address[i].addressCity %></th>
							<th style="font-weight: normal;"><%= userInfo.address[i].addressState %></th>
							<th style="font-weight: normal;"><%= userInfo.address[i].addressCountry %></th>
							<th style="font-weight: normal;"><%= userInfo.address[i].addressPostcode %></th>
							<th >
								<% let dialogID = "editAddressDialog-" + userInfo.address[i].id; %>
								<input type="submit" value="Edit Address" data-toggle="modal" data-target="#<%=dialogID%>"/>
								<%- include('../../partials/userDashboard/editAddressDialog', {dialogID}) %>
							</th>
						</tr>
						<% } %>
					</table>
					
					<!-- Add address Dialog -->
					<input type="submit" value="Add Address" data-toggle="modal" data-target="#addAddressDialog">
					<%- include ../../partials/userDashboard/addAddressDialog %>

					<div class="title">Current User Payment Methods</div>
					<table class="userAddressTable">
						<tr>
							<th>Nickname</th>
							<th>Name</th>
							<th>Card Number</th>
							<th>Expiry Date</th>
							<th>CVC</th>
						</tr>
						<%for(var i = 0; i < userInfo.payment.length; i++) {%>
						<tr class="userInfo">
							<th style="font-weight: normal;"><%= userInfo.payment[i].paymentNickname %></th>
							<th style="font-weight: normal;"><%= userInfo.payment[i].paymentName %></th>
							<th style="font-weight: normal;"><%= userInfo.payment[i].paymentCardNumber %></th>
							<th style="font-weight: normal;"><%= userInfo.payment[i].paymentExp %></th>
							<th style="font-weight: normal;"><%= userInfo.payment[i].paymentCVC %></th>
							<th>
								<% let dialogID = "editPaymentDialog-" + userInfo.address[i].id; %>
								<input type="submit" value="Edit Payment" data-toggle="modal" data-target="#<%=dialogID%>"/>
								<%- include('../../partials/userDashboard/editPaymentDialog', {dialogID}) %>
							</th>
						</tr>
						<% } %>
				</table>

				<!-- Add payment Dialog -->
				<input type="submit" value="Add Payment" data-toggle="modal" data-target="#addPaymentDialog"/>
				<%- include ../../partials/userDashboard/addPaymentDialog %>
			</div>
		</div>
	</body>

	<script>
		function cleanEmpty(obj) 
		{
			for (var key in obj)
			{
				if (obj[key] == "")
					delete obj[key];
			}
		}

		function getDateFromInput(id) {
			let text = $('#' + id );
			return new Date(year, month, day);
		}

		function replaceWithDateInput(id)
		{
			let text = $('#' + id);
			let dateList = text.text().split('/');
			let htmlDateString = dateList.reverse().join('-');
			text.replaceWith("<input type='date' id='" + id + "' value='" + htmlDateString + "' />");
		}

		function replaceWithTextInput(id) 
		{
			let text = $('#' + id);
			text.replaceWith("<input type='text' id='" + id + "' value='" + text.text() + "' />")
		}

		$().ready(() =>
		{
			let editBtn = $("#editProfileBtn");

			editBtn.click(() =>
			{
				// Replace the editBtn text to "Finish Edit" if not editing. Otherwise, send the updated profile data.
				if (editBtn.val() == "Finish Edit")
				{
					let editData = {
						firstName : $("#displayFirstName").val(),
						lastName : $("#displayLastName").val(),
						DOB: $("#displayDOB").val(),
						phoneNumber : $("#displayPhone").val()
					}


					// Get rid of all values that are an empty string ''
					cleanEmpty(editData);

					$.post('./profile/editProfile', editData, (response) =>
					{
						console.log("Got response ", response)
						if (response.status == "success")
						{
							alert("Edit Successful!");
							location.reload();
						} 
						else
						{
							alert("Failed to edit profile!\n\n" + response.reason);
						}
					})
				}
				else
				{
					replaceWithTextInput("displayFirstName");
					replaceWithTextInput("displayLastName");
					replaceWithDateInput("displayDOB");
					replaceWithTextInput("displayPhone");
					editBtn.val("Finish Edit");
				}
			})
		})
	
	</script>
</html>