<% include ../partials/head %>
    <style>

    </style>
    <div class="container listing" role="contains files">

        <div class="flex-row d-flex payment_block mb-2 mt-1 mr-5 justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 form-group mx-auto">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span>Search Results for '<%= listings.listingQuery%>':</span>

                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex lh-condensed">
                    </li>
                    <% if(listings.length == 0) {%>
                        <h5 id="noSearch" style="text-align: center; position: absolute; top: 50%;">Sorry, no results found...</h2>
                        <%} %>

                            <% listings.forEach(function(listing) { %>
                                <li id="group1" class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div class="card" style="width: 18rem;">
                                        <img src="/attachment/IMG/<%= listing.listingImg%>" class="card-img-top" alt="...">
                                        <div class="card-body">

                                        </div>
                                    </div>
                                    <div>
                                        <script type="text/javascript">
                                        </script>

                                        <h4 id="id01">
                                            <%var list = listing.listingID %>
										</h4>
                                        <h2>
                                            <a href='/listing/id=<%= listing.listingID%>' style="position: absolute;  left: 320px; color: black;">
                                                <%= listing.listingTitle %>
                                            </a>
										</h2>
										<h5 id="priceID" style="position: absolute; left:320px; top: 40%;">$
												<%= listing.listingPrice %>
											</h5>
                                        <h3 class="text-muted">
                                            <a href="/user/public/profile/id=<%=listing.sellerID%>" style="position: absolute; left: 320px; top: 60%;">
                                                <%= listing.sellerUsername %>
                                            </a>
                                        </h3>

                                    </div>
                                </li>
                                <% }); %>
                </ul>
            </div>
        </div>
    </div>
    <% include ../partials/foot %>


        <!-- onclick="window.location.href='/listing/id=' + $('#id01').val()" -->