<% include ../partials/head %>

<style>
#userId {
  font-weight: bold;
}
#Quantity{
  font-weight: bold;
}
#priceId{
  font-weight: bold;
}
#remainId{
  font-weight: bold;
}
#quan{
  font-weight: bold;

}
#descriptionParagraph{
  font-weight: bold;
}

#Quantity{
  width: 30;

}

</style>

<div class="container">
    <!-- Content here -->
  <div class="card justify-content-center mt-3">
    <div class="container card-body">

      <div class="card container justify-content-center bg-light mb-3">
        <div class="m-2 mt-4">
            <h3 class="big-title" id="titleId"><%= listing.listingTitle%></h3> 
        </div>
        <% if (listing.isActive == false) { %>
          <div class="my-4 lineblock-warning">
              <h1>This listing is closed!</h1> 
          </div>
        <% } %>
        <div class="col">

          <div class="row container">
            <div class="row">
              <div class="col m-4">
                <div class="imageBox" style="width: 35rem; box-sizing: content-box;">
                  <img src="/attachment/IMG/<%= listing.listingImg%>" class="card-img" alt="...">
                </div>
              </div>

              <div class="col m-4">
                <div class="container">
                  <div class="col">

                    <div class="row">

                      <div class="form">
                        <div id="userSeller" class="form-group row">
                         
                            <h4 class="mr-2" id="userId">Seller Name:</h4> 
                            <h4 id="usernameText"><a class="text-dark" href="/user/public/profile/id=<%=listing.sellerID%>"> <%= listing.sellerUsername%></a></h4>
                          </a>
                        </div>
                        <div class="form-group row">
                          <h4 id="priceId">Price: $</h4>
                            <h4 id="priceText"><%= listing.listingPrice%></h4>
                        </div>
                        <div class="form-group row">
                          <h4 class="mr-2" id="remainId">Stock Avaliable: </h4>
                          <h4 id="remainingStockText"><%= listing.remainingStock%></h4>
                        </div>
                      </div>
                    </div>  
                    


                    <% if (listing.isActive) { %>

                      <% if (user != null) { %>

                        <% if (isAdmin || user.id == listing.sellerID) { %>
                          <div class="row my-3 mx-auto">
                              <button id="modifyListingBtn" class="btn btn-dark btn-lg">Modify</button>
                          </div>
  
                          <div class="row my-3 mx-auto">
                            <button id="closeListingBtn" class="btn btn-dark btn-lg">Close Listing</button>
                          </div>
                        <% } %>
                        <% if (user.id != listing.sellerID) { %>
                          
                          <div class="form-group row mx-auto">
                            
                                <label for="Quantity"><h4 id="quan" >Quantity:</h4></label>
                              <input type="number" id="Quantity"  size="10" value="1" min="1" max="<%= listing.remainingStock %>" class="product-form__input" pattern="[0-9]*"/>
                          </div>
                        
                          <div class="row my-5 mx-auto">
                            <button id="purchaseBtn" class="btn btn-dark btn-lg" 
                              onclick="window.location.href='/listing/purchase=<%= listing.listingID%>&quantity='+ $('#Quantity').val();">
                              Purchase
                            </button>
                          </div>
                        <% } %>
                      <% } else { %>
                        <div class="row my-3 mx-auto">
                          <button disabled class="btn btn-dark btn-lg">Sign in to Purchase</button>
                        </div>
                      <% } %>
                    <% } else if (isAdmin) { %>
                      <div class="row my-3 mx-auto">
                          <button id="openListingBtn" class="btn btn-dark btn-lg">Reopen Listing</button>
                      </div>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

          <div class="row">
            <div id="descriptionCard" class="card m-4" style="width: 1000px; height: 380px;">
              <p id="descriptionParagraph" class="card-text m-4"><%= listing.listingDescription%></p>     
            </div>
          </div>

          <% if (isAdmin || user.id == listing.sellerID) { %>
            <div class="row mx-2">
              <div class="container">
                <h4 class="row">Purchases</h4>
                <div class="row">
                  <%- include('../partials/purchaseTable', {showBuyer: true, purchases}) %>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if (isAdmin || (user != null && user.id == listing.sellerID)) { %>
  <script src="/public/listing/listingResult.js" type="text/javascript"></script>
<% } %>

<%- include ../partials/foot %>