<% include ../partials/head %>
      <style>




      </style>
<div class="container">
    <!-- Content here -->
  <div class="card justify-content-center mt-3">
    <div class="container card-body">

      <div class="card container justify-content-center bg-light mb-3">
        <div class="card-header text-center">
            <h3 id="titleId"><%= result.listingTitle%></h3> 
        </div>
        <div class="col">

          <div class="row container">
            <div class="row">
              <div class="col m-4">
                <div class="imageBox" style="width: 35rem; box-sizing: content-box;">
                  <img src="/images/no-image.jpg" class="card-img" alt="...">
                </div>
              </div>

              <div class="col m-4">
                <div class="container">
                  <div class="col">

                    <div class="row">

                      <div class="form">
                        <div class="form-group row">
                            <h4 class="mr-2" id="userId">Seller Name:</h4> 
                            <h4 id="usernameText"> <%= result.sellerUsername%></h4>
                        </div>
                        <div class="form-group row">
                          <h4 id="priceId">Price: $</h4>
                            <h4 id="priceText"><%= result.listingPrice%></h4>
                        </div>
                        <div class="form-group row">
                          <h4 class="mr-2" id="remainId">Stock Avaliable: </h4>
                          <h4 id="remainingStockText"><%= result.remainingStock%></h4>
                        </div>
                      </div>

                    </div>

                    <div class="row my-3 mx-auto">
                      <button class="btn btn-dark btn-lg" onclick="window.location.href='/listing/confirmPurchase'">Purchase</button>
                    </div>

                    <div class="row my-3 mx-auto">
                      <% if (isAdmin || (user != null && user.id == result.sellerID)) { %>
                        <button id="modifyListing" class="btn btn-dark btn-lg">Modify</button>
                      <% } %>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div id="descriptionCard" class="card m-4" style="width: 1000px; height: 380px;">
              <p id="descriptionParagraph" class="card-text m-4"><%= result.listingDescription%></p>     
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../partials/foot %>