<% include ../partials/head %>
    <style>
        th,
        td {
            padding: 15px;
        }
    </style>
    <div id="userID" data-user-id="<%= user.id %>" ></div>
    
    <div class="container mt-5 my-2" role="purchase-body">
        <div class="row mb-3">
            <div class="col m-4">
                <h4>Payment Information</h4>

                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Options</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Choose Payment Selction </option>
                        <%  for(var i = 0; i < purchase.payments.length; i++){ %> 
                        <option  id="paymentID" data-payment-id="<%= purchase.payments[i].paymentID%>" >
                            <%= purchase.payments[i].paymentNickName %> | <%= purchase.payments[i].paymentName %> | <%=  purchase.payments[i].paymentNumber %>  
                        </option>
                        
                        <% } %>
                          
                        </select>
                </div>
            </div>

            <div class="row">
                <div class="col m-4">
                    <table class="table-white" id=>
                        <tr class="bg-white"> 
                            <th colspan="3">
                                <h4>Summary:</h4>
                            </th>
                        </tr>
                        <tr>
                            <th scope="row">
                                <h4>
                                    <%= purchase.requestQuantity  %> x
                                        <%= purchase.itemName%>
                                </h4>
                            </th>
                            <td>
                                <h4 id="quantity" data-quantity-id="<%= purchase.requestQuantity %>" >
                                    @ $<%= purchase.itemPrice%> ea.
                                </h4>
                            </td>
                        </tr>
                        <tr>

                            <th scope="row">
                                <h4> Total: </h4>
                            </th>
                            <td>
                                <h4  id="totalPrice" data-total-id="<%= purchase.itemPrice * purchase.requestQuantity %>"> AUD$
                                    <%= purchase.itemPrice * purchase.requestQuantity %>
                                </h4>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col m-4">
                <h4>Delivery Information</h4>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="DeliverySelection">Options</label>
                    </div>
                    <select class="custom-select" id="DeliverySelection">
                              <option selected>Choose Delivery Selection </option>                       
                               <%for (var i = 0; i < purchase.addresses.length; i++){%>
                              <option id="addressID" data-address-id="<%= purchase.addresses[i].addressID%>">  <%= purchase.addresses[i].addressLine1 %> | <%= purchase.addresses[i].addressLine2 %> | <%= purchase.addresses[i].addressState%> | <%= purchase.addresses[i].addressCity %> | <%= purchase.addresses[i].addressPostCode %> | <%= purchase.addresses[i].addressCountry%> </option>
                               
                              <% }%>
                            </select>
                </div>
            </div>
        </div>
        <div id="remainingStocks" data-remain-id="<%= purchase.itemStockLeft %>"></div>
        <div class="row  my-3">
            <div class="col my-3 mx-auto">
                <a id="listingID" data-listing-id="<%= purchase.itemID%>" href='/listing/id=<%= purchase.itemID %>'> Return to item </a>
            </div>
            <button id="purchaseBtn" type="button" class="btn btn-lg btn-primary"> Confirm Purchase</button>
        </div>



        <script>
            $().ready(() =>{
                $('#purchaseBtn').click(() => {
                    
                    let purchaseInfo = {
                        listingID : $('#listingID').data('listing-id'), 
                        buyerID : $('#userID').data('user-id'),
                        paymentMethodID : $('#paymentID').data('payment-id'),
                        deliveryAddressID : $('#addressID').data('address-id'), 
                        totalPrice : parseFloat($('#totalPrice').data('total-id')),
                        quantity : parseInt($('#quantity').data('quantity-id'))    
                    }    
                    
                    $.post('/listing/purchaseItem', purchaseInfo, (response) =>
                    { 
                        console.log(response);
                        if (response.status == 'success') 
                        {
                            location.href = './summary=' + response.purchaseID;       
                        } 
                        else
                        {
                            alert("Failed To Purchase Items!\n" + response.reason);
                        }
                    })
                });
            })
        </script> 

    </div>

    <% include ../partials/foot %>


        <!--<% // purchaseInfo.purchasePK %> -->